.navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    align-items: center;
    margin-top: 25px;
    /* border: 1px solid; */
    position: relative;

}

.navbar_link a {
    text-decoration: none;
    color: black;
    margin-right: 25px;

    padding-bottom: 26px;

}

.navbar_link a:hover {
    border-bottom: 2px solid;
    font-weight: 600;
}

.buttons {
    display: flex;
    flex-direction: row;

}


.buttons button {
    width: 125px;
    height: 36px;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;


}

.buttons_1 {
    background: #EDEEF0;
    display: flex;


}

.buttons_2 {
    background-color: #2F6CE5;
    color: white;
    margin-left: 20px;

}
.body_aside_part {
    position: relative;

}

.body_post {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 5px;
    display: none;
    /* border: 1px solid; */
    width: 100%;
    margin-bottom: -23px;
    align-items: center;
}
.body_post p{
    font-size: 18px;
    font-weight: 900;
}

.body_post button {
    width: 106px;
    height: 32px;
    border: none;
    font: bold;
    border-radius: 5px;

}

.body_post button img {
    margin-left: 5px;
}

@media only screen and (max-width:800px) {
    .body_post{
        display: flex;
    }
    .navbar_link{
        display: none;
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 120px;
        width: 150px;
        padding: 10px;
        border-radius: 5px;
        top: 6px;
        background-color: #EDEEF0;
        z-index: 1;
        display: none;
    }
    .navbar_link a:hover{
        border-bottom: none;

    }
    .buttons{
        display: none;

    }
}