.fixed_div{
    position: relative;
    min-width: 736px;
    height: 543px; 
    background: white;

    /* border: 1px solid white; */
    overflow: hidden;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;

}
.user_form_login {
    min-width: 736px;
    border-radius: 8px;
    position: relative;
    /* right: 736px; */
    z-index: 6;
    
}



.user_form_login_para {
    background-color: rgba(239, 255, 244, 1);
    width: 100%;
    text-align: center;
    font-weight: 600;
    color: rgba(0, 138, 69, 1);
    padding: 15px;
    border-radius: 8px;

}

.create_account {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    align-items: center;
}

.create_account h1 {
    font-weight: 800;
}

.create_account p b {
    color:
        rgba(47, 108, 229, 1);
        cursor: pointer;
}

.form_grid {
    padding-left: 25px;
    padding-right: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.user_form_login input {
    width: 100%;
    height: 46px;
    padding-left: 10px;
    /* border: ; */
    border: none;
    border-top: 1px solid;

}

.user_detail_form {
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;

}

.last_name {
    border-left: 1px solid;


}

.user_detail_name {
    display: flex;
}

.login_btn button {
    width: 320px;
    height: 40px;
    font-size: 16px;
 

}
.btn1{
    background: #2F6CE5;
border-radius: 20px;
color: white;
font-size: 16px;
margin-top: 20px;
margin-bottom: 20px;
border: none;

}
.btn2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border: 0.6px solid #D9D9DB;
    border-radius: 2px;
   
}
.btn2 img{
    margin-right: 10px;
}
.user_detail_img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.user_detail_img p{
font-size: 12px;
}
.user_password{
    position: relative;

}
.user_password i{
    position: absolute;
    top: 12px;
    right: 10px;
}
.user_detail_name{
    position: relative;
}
.user_detail_name{}
.forgot{
    margin-top: 20px;
}
.create_account p{
    font-size: 14px;
}
.fixed_div{
    /* border: 1px solid red; */
    width: 736px;
    height: 543px;
}


.user_form{
    display: flex;

}

.para2{
    /* position: absolute; */
    top: 1px;
}

@media only screen and (max-width:750px){
    .fixed_div{
     min-width:350px ;
     width: 350px;
     border: 1px solid black;
 
    } 
    .user_form{
        min-width:350px ;
        width: 350px;
    }
    .user_form_login{
        min-width:350px ;
        width: 350px;
        
    }
    .form_grid {
        padding-left: 15px;
       
      
    }
    .create_account{
        display: flex;
        flex-direction: column;
    }
    .user_form_login_para{
        display: none;
    }
    .user_form_login input {
        width: 100%;
        height: 40px;
        padding-left: 10px;
        /* border: ; */
        border: none;
        border-top: 1px solid;
    
    }

    .user_detail_img{
     display: none;
    }
 }
