.main_body {
    width: 77%;
    margin: auto;
}

.body {
    display: grid;
    grid-template-columns: 1.3fr .7fr;
    /* border: 1px solid; */
}





@media only screen and (max-width:1000px) {
    .main_body {
        width: 95%;
    }

    .body {
        grid-template-columns: 1.2fr .8fr;
    }
}

@media only screen and (max-width:800px) {
    .body {
        display: flex;
        flex-direction: column;
    }
    .body_aside_part{
        display: none;
    }

    
}

.login_user{
    position: relative;
    top: 10px;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    margin: auto;
    /* background: white; */
    
    transition: all ease-in-out 0.4s;
   
    position: fixed;


}
.close{
    /* width: 736px;
    height: 543px; */
    
    position: absolute;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* right: 10px; */
    /* top: -40px; */
    right: -10px;
    top: 25px;
    transform: translate(-50%,-50%);
    border: 1px solid black;
    padding: 5px;
    border-radius: 50%;
    /* background-color: red; */
    background-color:white;
    z-index: 7;
    cursor: pointer;
}