.article {
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    margin-bottom: 30px;
    position: relative;
    border: 1px solid #E0E0E0;
}

.article_img {
    width: 100%;
    /* margin-bottom: 20px; */
}

.details {
    padding: 25px;
}

.user_work {
    margin-bottom: 15px;

}

.article_heading {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 134.55%;
    position: relative;
    padding-right: 60px;


}

.article_heading {
    margin-bottom: 8px;

}

.article_para {
    font-size: 19px;
}

.article_bottom {
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
    position: relative;
   
   

}

.article_user {
    display: flex;
    justify-content: center;
    align-items: center;


}

.article_user img {
    margin-right: 10px;

}

.article_user h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
}

.article_share {
    display: flex;
    flex-direction: row;
    /* border: 1px solid; */
    width: 200px;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */


}

.article_share p i {
    margin-right: 6px;
}

.article_share_icon {
    width: 42px;
    height: 36px;
    background-color: #EDEEF0;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}


/* extra info  */
.cala_user {
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 0.8;
}

.cala_user img {
    width: 18px;
    height: 18px;
}

.cala_user div {
    display: flex;
}

.cala_user div img {
    margin-right: 10px;
}

.alt_class1,
.alt_class2 {
    border: 1px solid;
    margin-bottom: 30px;
    padding: 10px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 13.5px;
    line-height: 140.4%;
    border: 0.7px solid #A9AEB8;
    border-radius: 8px;
}

.alt_class1 {
    color: #E56135;
}

.alt_class2 {
    color: #02B875;
}

/* more option  */
.hidden_cont {
    position: relative;
}

.more_icon {
    position: absolute;
    top: 5px;
    right: -5px;
    border: 1px solid;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 4px;
    border: none;
    transition: rotate 0.3s;

}

.more_icon:hover {
    background: #BFC0C0;
    /* transform: rotate(90deg); */

}

.more_icon_option {
    position: absolute;
    top: 40px;
    right: 10px;
    background-color: white;
    /* border: 1px solid; */
    width: 160px;
    height: 102px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16), 0px 0px 2px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* text-align: right; */
    cursor: pointer;
    display: none;
    z-index: 1;
}

.more_icon_option p:hover {
    font-weight: 600;
}
button{
    cursor: pointer;
}
.article_share_icon p{
    display: none;
}

@media only screen and (max-width:1000px) {
    .article_heading {
        font-size: 20px;
    }

    .article_para {
        font-size: 15px;
    }
}

@media only screen and (max-width:1000px) {
    .article_heading {
        font-size: 19px;
    }

    .article_para {
        font-size: 14px;
    }

    .cala_user img {
        width: 16px;
        height: 16px;
    }

    .article_user h3 {
        font-size: 16px;
    }
}

@media only screen and (max-width:450px) {
    .article_heading {
        font-size: 17px;
    }

    .article_para {
        font-size: 14px;
    }

    .article_user img {
        width: 35px;
        height: 35px;
      
    }
   
   
    .article_user{
        min-width: 180px;
        justify-content: start;
        

        /* margin-bottom: 20px; */
    }
    .article_share_icon{
        width: 70px;
    }
    .article_share_icon p{
        display: flex;
    }
    .article_share_icon img{
        margin-right: 5px;
    }
  
    .article_view{
        position: absolute;
        top: 28px;
        left: 45px;
    }
    
   
    .bi_eye{
       display: none;
    }
    
}